@model GrowHealthy.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}





 <div style="width:100%">     
          <div class="container" style="margin: 0 auto; float:left; display:inline-block; width:45%; padding-left:250px; padding-top:50px">

      
                 <section id="loginForm" >
<h2>Log in to your account.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}


</section>
    

      
        
 </div>

    </div>
    




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
