@model IEnumerable<GrowHealthy.Models.StatisticsModels>

@{
    ViewBag.Title = "Index";
}

<div style="padding-left:50px; padding-right:35px">
      

         <div class="WithoutLogin" style="width:12%;display:inline-block; float:left;">
       <div style="display:block; width:70%; height:100px; fill-opacity:inherit;  font-style:normal; text-align:center; padding:15px;  box-shadow:inset;box-shadow: 10px 10px 5px #888888; background-image:url(images/thecompany-map.png); vertical-align:middle; font-size:26px; text-decoration:none">
                 @Html.ActionLink("Blog", "Index", "Blog")
             </div>
             <hr / style="color:gray; width:70%; position:relative;">
        <div style="display:block; width:70%; height:100px; fill-opacity:inherit;  font-style:normal; text-align:center; padding:15px;  box-shadow:inset;box-shadow: 10px 10px 5px #888888; background-image:url(images/thecompany-map.png); vertical-align:middle; font-size:26px; text-decoration:none">
                 @Html.ActionLink("Statistics", "Index", "Statistics")
             </div>
             <hr / style="color:gray; width:70%; position:relative;">
       <div style="display:block; width:70%; height:100px; fill-opacity:inherit;  font-style:normal; text-align:center; padding:15px;  box-shadow:inset;box-shadow: 10px 10px 5px #888888; background-image:url(images/thecompany-map.png); vertical-align:middle; font-size:26px; text-decoration:none">
                 @Html.ActionLink("News", "Index", "News")
             </div>
             <hr / style="color:gray; width:70%; position:relative;">
        <div style="display:block; width:70%; height:100px; fill-opacity:inherit;  font-style:normal; text-align:center; padding:15px;  box-shadow:inset;box-shadow: 10px 10px 5px #888888; background-image:url(images/thecompany-map.png); vertical-align:middle; font-size:26px; text-decoration:none">
                 @Html.ActionLink("Forum", "Index", "Forum")
             </div>
</div>
          <div class="container" style="margin: 0 auto; float:left; display:inline-block; width:88%;">

                     
              
              <div class="BodyContent" style="vertical-align:top; float:left;display:inline-block;width:80%; font-size:1.1em; padding-right:0px; padding-left:09px";>
             @* সকল কোড এই ডিভ এর ভিতর থাকবে *@


<p>
    @Html.ActionLink("Input any statistical data", "Create",null, new { style="font-size:1.8em; padding-bottom:15px;"})
</p>
<table>
    <tr>
        <th style="width:16%">
            @Html.DisplayNameFor(model => model.Title)
        </th >
         <th style="width:16%">
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>
        <th style="width:16%">
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th style="width:16%">
            @Html.DisplayNameFor(model => model.Body)
        </th>
         <th style="width:16%">
            @Html.DisplayNameFor(model => model.Writer)
        </th>
        <th style="width:20%">

        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Writer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

              </div>


    

      
         <div class="container2" style="margin: 0 auto; padding-left:10px; width:15%; float:right">

        <div style="display:block; width:70%; height:100px; fill-opacity:inherit;  font-style:normal; text-align:center; padding:15px;  box-shadow:inset;box-shadow: 10px 10px 5px #888888; background-image:url(images/thecompany-map.png); vertical-align:middle; font-size:26px; text-decoration:none">
               @Html.ActionLink("Doctor's corner", "Index", "Doctor")
             </div>
             <hr / style="color:gray; width:70%; position:relative;">
      <div style="display:block; width:70%; height:100px; fill-opacity:inherit;  font-style:normal; text-align:center; padding:15px;  box-shadow:inset;box-shadow: 10px 10px 5px #888888; background-image:url(images/thecompany-map.png); vertical-align:middle; font-size:26px;  text-decoration:none">
                @Html.ActionLink("Things To know", "Index", "Doctor")
             </div>
             <hr / style="color:gray; width:70%; position:relative;">
     <div style="display:block; width:70%; height:100px; fill-opacity:inherit;  font-style:normal; text-align:center; padding:15px;  box-shadow:inset;box-shadow: 10px 10px 5px #888888; background-image:url(images/thecompany-map.png); vertical-align:middle; font-size:26px;  text-decoration:none">
                   @Html.ActionLink("Food suggestion", "Index", "Doctor")
             </div>
             <hr / style="color:gray; width:70%; position:relative;">
      <div style="display:block; width:70%; height:100px; fill-opacity:inherit;  font-style:normal; text-align:center; padding:15px;  box-shadow:inset;box-shadow: 10px 10px 5px #888888; background-image:url(images/thecompany-map.png); vertical-align:middle; font-size:26px;  text-decoration:none">
                   @Html.ActionLink("Alert messages", "Index", "Doctor")
             </div>
        </div>
 </div>
    </div>
